/* common style  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.mb-5 {
    margin-bottom: 6rem!important;
}
/* header banner style  */
.banner-bg, .view-bg{
    background-color: #264653;
}
#btn{
    background-color: #E76F51;
}
/* featured bike style  */
#scale{
    filter: grayscale(100%);
}
/* latest news */
#btn-other{
    color:#E76F51;
    border:1px solid#E76F51;
    background-color: #fff;
}
#btn-other:hover{
    color: #fff;
    border:1px solid#E76F51;
    background-color: #E76F51;
}
/* happy client  */
.happy, .faq{
    color: #0A0826;
}
.client, .qs, .honda{
    color: #E76F51;
}
.star{
    color: #E77C40;
}
.card-text{
    color: #6C6C6C;
}
.cart-title{
    color: #252B42;
}
/* faq style  */
.accordion-button{
    color: #383838;
    font-family: 'Inter', sans-serif;
}
.accordion-body{
    color: #7E848C;
    font-family: 'Inter', sans-serif;
}